<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target name="requestLog" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch"
          name="ElasticSearchTarget"
          uri="http://192.168.0.110:9200"
          includeAllProperties ="true"
          index="fabric-userservice-requestlog-${date:format=yyyy.MM.dd}">
        <field name="user" layout="${aspnet-user-identity}"/>
        <field name="host" layout="${machinename}"/>
        <field name="usergent" layout="${aspnet-request-useragent}"/>
        <field name="requestTime" layout="${longdate}"/>
      </target>
    </target>
    <target name="log" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch"
          name="ElasticSearchTarget"
          uri="http://192.168.0.110:9200"
          index="fabric-userservice-log-${date:format=yyyy.MM.dd}">
        <field name="host" layout="${machinename}"/>
        <field name="user" layout="${aspnet-user-identity}"/>
      </target>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" writeTo="requestLog">
      <filters>
        <when condition="contains('${message}','api/health')" action="IgnoreFinal" />
        <when condition="!contains('${message}','[request]')" action="Ignore" />
        <when condition="contains('${message}','[request]')" action="LogFinal" />
      </filters>
    </logger>
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="*" writeTo="log" />
  </rules>
</nlog>